<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<security:authorize access="isAuthenticated()"> <security:authentication property="principal.username" /> 
</security:authorize>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pallas - Tabele</title>
    <link rel="icon" type="image/jpeg" sizes="64x64" href="assets/img/favicon.jpg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Social-Icons.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body class="d-xl-flex justify-content-xl-center">
    <header class="d-xl-flex justify-content-xl-center align-items-xl-center masthead" style="background: url(&quot;assets/img/tlo.jpg&quot;);background-size: cover;">
        <div class="intro-body">
            <div class="btn-group d-xl-flex align-items-xl-center" role="group"></div>
            <div class="btn-toolbar">
                <div class="btn-group" role="group"></div>
            </div>
            <div class="row d-xl-flex justify-content-xl-center" style="width: 1200px;">
                <div class="col" style="width: 0px;">
                    <div class="container d-xl-flex justify-content-xl-center align-items-xl-center" style="width: 200px;height: 126px;background: rgba(191,191,191,0.45);"><a class="d-xl-flex justify-content-xl-center align-items-xl-center" href="pracownicy.html" style="color: rgb(255,255,255);font-family: Cabin, sans-serif;text-decoration: none;font-size: 23px;width: 200px;height: 126px;">PRACOWNICY</a></div>
                </div>
                <div class="col" style="width: 200px;">
                    <div class="container d-xl-flex justify-content-xl-center align-items-xl-center" style="width: 200px;height: 126px;background: rgba(191,191,191,0.45);"><a class="d-xl-flex justify-content-xl-center align-items-xl-center" href="zawodnicy.html" style="color: rgb(255,255,255);font-family: Cabin, sans-serif;text-decoration: none;font-size: 23px;width: 200px;height: 126px;">ZAWODNICY</a></div>
                </div>
                <div class="col" style="width: 200px;">
                    <div class="container d-xl-flex justify-content-xl-center align-items-xl-center" style="width: 200px;height: 126px;background: rgba(191,191,191,0.45);"><a class="d-xl-flex justify-content-xl-center align-items-xl-center" href="filie.html" style="color: rgb(255,255,255);font-family: Cabin, sans-serif;text-decoration: none;font-size: 23px;width: 200px;height: 126px;">FILIE</a></div>
                </div>
                <div class="col" style="width: 187px;">
                    <div class="container d-xl-flex justify-content-xl-center align-items-xl-center" style="width: 200px;height: 126px;background: rgba(191,191,191,0.45);"><a class="d-xl-flex justify-content-xl-center align-items-xl-center" href="obozy.html" style="color: rgb(255,255,255);font-family: Cabin, sans-serif;text-decoration: none;font-size: 23px;width: 296.125px;height: 126px;">OBOZY</a></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="d-xl-flex justify-content-xl-center brand-heading" style="font-size: 72px;margin-top: -283px;margin-bottom: 0px;text-align: center;">Wybierz tabelę</h1>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav" style="background: rgba(33,37,41,0.96);">
                <div class="container"><a class="navbar-brand" href="default.html">Pallas</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive" >
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item d-lg-flex d-xl-flex align-items-lg-center align-items-xl-center" data-bss-hover-animate="pulse"><a class="nav-link d-lg-flex align-items-lg-center" href="default.html">Strona główna</a></li>
                            <li class="nav-item d-lg-flex d-xl-flex align-items-lg-center justify-content-xl-center align-items-xl-center" data-bss-hover-animate="pulse"><a class="nav-link d-lg-flex d-xl-flex align-items-lg-center justify-content-xl-center align-items-xl-center" href="tabele.html">tabele</a></li>
                             <form class="nav-link d-lg-flex d-xl-flex align-items-lg-center justify-content-xl-center align-items-xl-center" th:action="@{/logout}" method="post"><input type="submit" value="WYLOGUJ" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse" style="color: rgb(256,256,256);background-color: Transparent;border: none"/></form>
                            
                       </ul>
                    </div>
                    
                </div>
            </nav>
        </div>
    </header>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/grayscale.js"></script>
</body>

</html>